import(stats)
import(SMRD)
import(threejs)
import(htmlwidgets)
import(jkf)
import(plotly)
import(d3heatmap)
import(dygraphs)
import(leaflet)
import(parcoords)
import(taucharts)
import(codemirrorR)
import(metricsgraphics)
import(visNetwork)
importFrom(shinyAce, aceEditor)
importFrom(shinythemes, shinytheme)
importFrom(dplyr, mutate, select)
importFrom(diagram, plotmat)
importFrom(scales, alpha)
importFrom(htmlwidgets,JS)
importFrom(actuar, pllogis,qllogis,dllogis)
importFrom(DT, datatable,dataTableOutput,renderDataTable)
importFrom(shiny,shinyApp,fluidPage,navbarPage,tabsetPanel,sidebarLayout,sidebarPanel,mainPanel,plotOutput,renderPlot,
           htmlOutput,includeCSS,includeScript,h2,h4,HTML,renderUI,isolate,reactiveValues,observeEvent,observe,
           tabPanel,selectInput,sliderInput,numericInput,verbatimTextOutput,renderPrint,uiOutput,radioButtons,
           actionButton,titlePanel,hr,br,strong,div,column,fluidRow,h3,reactive,renderText,textOutput,
           updateSliderInput)