import(graphics,stats,SMRD)
importFrom(shinyAce, aceEditor)
importFrom(shinythemes, shinytheme)
importFrom(dplyr, mutate, select)
importFrom(diagram, plotmat)
importFrom(htmlwidgets,JS)
importFrom(DT, datatable,dataTableOutput,renderDataTable)
importFrom(shiny,shinyApp,fluidPage,navbarPage,tabsetPanel,sidebarLayout,sidebarPanel,mainPanel,plotOutput,renderPlot,
           htmlOutput,includeCSS,includeScript,h2,h4,HTML,renderUI,isolate,reactiveValues,observeEvent,observe,
           tabPanel,selectInput,sliderInput,numericInput,verbatimTextOutput,renderPrint,uiOutput,radioButtons,
           actionButton,titlePanel,hr,br,strong,div,column,fluidRow,h3,reactive,renderText,textOutput,
           updateSliderInput)
importFrom(visNetwork, visOptions,addFontAwesome,visInteraction)